<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta http-equiv="Content-Type" content="text/html;
charset=UTF-8"/>
    <title>Oops!</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <br><br><br>
    <h1 class="text-center">系统出现错误</h1>
    <br><br>
    <h4 class="text-center">错误原因：<span th:text="${error}">未知</span></h4>
</div>
</body>
<script layout:fragment="script">
</script>
</html>