<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>Hello world</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <h1>hello word!!!</h1>
        <p>this is a html page</p>
        <div class="alert alert-primary" role="alert">
            A simple primary alert—check it out!
        </div>
        <h1>Example heading <span class="badge badge-secondary">New</span></h1>
        <button type="button" onclick="addToast()" class="btn btn-primary btn-lg btn-block">Block level button</button>
        <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
            <!-- Position it -->
            <div id="toastContainer" style="position: absolute; bottom: 0; right: 0;">
                <div id="toast1" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <!--                <img src="..." class="rounded mr-2" alt="...">-->
                        <strong class="mr-auto">Bootstrap</strong>
                        <small>11 mins ago</small>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        Hello, world! This is a toast message.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<script layout:fragment="script">
    console.log("Hello js!");
    $('#toast1').toast({autohide:false});
    $('#toast1').toast('show');
    function addToast() {
        var newToast = $('#toast1').clone();
        $('#toastContainer').append(newToast);
        newToast.toast({autohide: false});
        newToast.toast('show');
    }
</script>
</html>