<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta http-equiv="Content-Type" content="text/html;
charset=UTF-8"/>
    <title>Fts-web文件互传系统</title>
</head>
<body>
<div id="rootContainer" style="position: relative" class="container-fluid" layout:fragment="content">
    <!-- Position it -->
    <div id="toastContainer" style="position: absolute; bottom: 0; right: 0;">
        <div id="toast1" style="position: relative; z-index: 1000" class="d-none toast fade hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <!--                <img src="..." class="rounded mr-2" alt="...">-->
                <strong class="mr-auto">Bootstrap</strong>
                <small>11 mins ago</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>
    <div class="row flex-xl-nowrap ml-2 mr-2">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
            <form class="bd-search d-flex align-items-center">
                <input type="search" class="form-control" id="searchUser" placeholder="搜索用户" aria-label="Search for user" autocomplete="off">
                <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle sidebar">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img" focusable="false">
                        <title>Menu</title>
                        <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path>
                    </svg>
                </button>
            </form>
            <nav class="bd-links collapse" id="sidebar">
                <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#addFriendModal">添加好友</button>
                <div class="bd-toc-item" id="friendListContainer">
                    <div onclick="selectFriend(this)" style="cursor: pointer;" class="d-none bd-toc-link">
                        <h5><strong>用户名</strong></h5>
                        <span class="d-none">ftsId</span>
                        <p>消息内容</p>
                    </div>
                </div>
            </nav>
        </div>
        <div class="d-none d-xl-block col-xl-3 bd-toc">
            Right Sidebar
        </div>
        <main id="mainContainer" class="col-12 col-md-9 col-xl-7 py-md-3 pl-md-5 bd-content" role="main">
            <div>
                <div class="row" style="position: relative">
                    <h4 id="activeUserMessageTitle">请选择一个用户</h4>
                    <span class="d-none" id="activeUserFtsId">选中用户的Fts号码</span>
                    <span class="d-none" id="myUserFtsId" th:text="${ftsId}">我的Fts号码</span>
                    <div class="d-flex justify-content-end" style="position: absolute; right: 0">
                        <button class="btn btn-outline-primary" type="button" id="showProfile" data-toggle="modal" data-target="#showProfileModal">查看资料</button>
                        <button class="btn btn-outline-primary" type="button" id="modifyProfile" data-toggle="modal" data-target="#modifyProfileModal">修改资料</button>
                    </div>
                </div>
                <hr>
                <button type="button" class="btn btn-outline-primary btn-block" onclick="clearAllMessages()" id="clearAllMessages">清理信息</button>
                <div id="messageList">
                    <div id="leftMessageTemplate" class="ml-1 d-none row justify-content-start">
                        <div class="card rounded border border-primary" style="width: 18rem;">
                            <div class="card-body">
                                <span class="d-none">fromFtsId</span>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <blockquote class="blockquote mb-0">
                                    <footer class="blockquote-footer">createTime</footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div id="rightMessageTemplate" class="mr-1 d-none row justify-content-end">
                        <div class="card rounded border border-success" style="width: 18rem;">
                            <div class="card-body">
                                <span class="d-none">fromFtsId</span>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <blockquote class="blockquote mb-0">
                                    <footer class="blockquote-footer">createTime</footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div id="leftFileTemplate" class="ml-1 d-none row justify-content-start">
                        <div class="card rounded border border-primary" style="width: 18rem;">
                            <div class="card-body">
                                <span class="d-none">fromFtsId</span>
                                <h5 class="card-title">文件传输消息</h5>
                                <h6 class="card-subtitle mb-2 text-muted">1.image</h6>
                                <a target="_blank" href="#">下载文件</a>
                                <small class="badge badge-warning">文件保存期限为7天，请尽快下载！</small>
                                <blockquote class="blockquote mb-0">
                                    <footer class="blockquote-footer">createTime</footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div id="rightFileTemplate" class="mr-1 d-none row justify-content-end">
                        <div class="card rounded border border-success" style="width: 18rem;">
                            <div class="card-body">
                                <span class="d-none">fromFtsId</span>
                                <h5 class="card-title">文件传输消息</h5>
                                <h6 class="card-subtitle mb-2 text-muted">1.image</h6>
                                <a target="_blank" href="#">下载文件</a>
                                <small class="badge badge-warning">文件保存期限为7天，请尽快下载！</small>
                                <blockquote class="blockquote mb-0">
                                    <footer class="blockquote-footer">createTime</footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div id="messageBox">
                    <textarea class="form-control mb-1" id="messageTextArea" rows="3"></textarea>
                    <div id="messageFile" class="d-none form-group">
                        <label for="messageFileInput">文件传输</label>
                        <input type="file" class="form-control-file" id="messageFileInput">
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" id="sendButton" class="btn btn-primary">发送</button>
                        <div id="messageBoxBindText" class="input-group-append">
                            <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">文本消息</button>
                            <div class="dropdown-menu">
                                <button class="dropdown-item" type="button" onclick="messageBoxBindFile()">文件传输</button>
                            </div>
                        </div>
                        <div id="messageBoxBindFile" class="d-none input-group-append">
                            <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">文件传输</button>
                            <div class="dropdown-menu">
                                <button class="dropdown-item" type="button" onclick="messageBoxBindText()">文本消息</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="modal fade" id="showProfileModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">用户1的资料</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        对方资料
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modifyProfileModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">修改资料</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        我的资料
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">保存修改</button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addFriendModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">添加好友</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-row">
                            <input type="text" class="form-control" id="addFriendFtsId" placeholder="输入Fts号码">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="addFriendButton" type="button" class="btn btn-primary">添加</button>
                        <button id="closeAddFriendButton" type="button" class="btn btn-warning" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script layout:fragment="script" th:inline="javascript">
    var windowHeight = $(window).height();
    var rootContainerStyle = "position: relative; min-height: " + windowHeight + "px";
    $('#rootContainer').attr('style', rootContainerStyle);
    //监听窗口大小变化
    window.addEventListener('resize', windowSizeChangeFunction);
    windowSizeChangeFunction();
    function windowSizeChangeFunction() {
        var windowWidth = window.innerWidth, windowHeight = window.innerHeight;
        var cards = $('#messageList div.card');
        var messageList = $('#messageList');
        for(var i=0;i<cards.length;i++) {
            var card = cards[i];
            var parentWidth = messageList.width();
            var width = Math.floor(parentWidth * 2 / 3);
            card.setAttribute('style', 'width: ' + width + 'px;');
        }
        var height = Math.floor(windowHeight * 1 / 2);
        messageList.attr('style','height:'+height+'px; overflow-y:auto; overflow-x:hidden');
    }
    if('WebSocket' in window) {
        var webSocket = new WebSocket([[@{/ws/}]] + [[${token}]]);
        webSocket.onopen = function(event) {
            console.log('建立连接');
        };
        webSocket.onclose = function(event) {
            console.log('断开连接');
        };
        webSocket.onerror = function(ex) {
            alert('error')
            console.log(ex)
        };
        /*<![CDATA[*/
        webSocket.onmessage = function(event) {
            console.log('接收到消息:' + event.data);
            var responseDTO = JSON.parse(event.data);
            switch (responseDTO.type) {
                case 'ADD_FRIEND_RESULT':
                    addFriendResult(responseDTO);
                    break;
                case 'MESSAGE':
                    message(responseDTO);
                    break;
                case 'INITIAL_MESSAGE_LIST':
                    initialMessageList(responseDTO);
                    break;
                case 'RETRIEVE_MESSAGE_LIST_RESULT':
                    retrieveMessageList(responseDTO);
                    break;
                case 'SEND_MESSAGE_TEXT_RESULT':
                    sendMessageTextResult(responseDTO);
                    break;
                case 'SEND_MESSAGE_FILE_RESULT':
                    sendMessageFileResult(responseDTO);
                    break;
                case 'CLEAR_ALL_MESSAGES_RESULT':
                    clearAllMessagesResult(responseDTO);
                    break;
            }
        };/*]]>*/
        function sendMessageFileResult(responseDTO) {
            if(!responseDTO.success) {
                alert("发送消息失败,请刷新重试:" + responseDTO.message);
            }
        }
        function sendMessageTextResult(responseDTO) {
            if(!responseDTO.success) {
                alert("发送消息失败,请刷新重试:" + responseDTO.message);
            }
        }
        function clearAllMessagesResult(responseDTO) {
            if(responseDTO.success) {
                clearActiveMessageList();
                var activeUserFtsIdStr = $('#activeUserFtsId').html();
                var activeUserFtsId = parseInt(activeUserFtsIdStr);
                var friendListContainer = $('#friendListContainer');
                var friendList = friendListContainer.children();
                if(!isNaN(activeUserFtsId)) {
                    for (var i = 0; i < friendList.length; i++) {
                        var friendDiv = $(friendList[i]);
                        var friendFtsIdStr = friendDiv.children("span:first").html();
                        if (parseInt(friendFtsIdStr) === activeUserFtsId) {
                            friendDiv.children("p:first").html('');
                            break;
                        }
                    }
                }
                var count = parseInt(responseDTO.data.toString());
                if(!isNaN(count) && count > 0) {
                    alert("成功清理了" + count + "条消息");
                } else {
                    alert("没有需要清理的消息");
                }
            } else {
                alert("清理失败:" + responseDTO.message);
            }
        }

        /**
         * 清理所有消息点击事件-前端+后端
         */
        function clearAllMessages() {
            var container = $('#messageList');
            var children = container.children();
            var hasMessage = false;
            for(var i=0;i<children.length;i++) {
                var childDiv = $(children[i]);
                if(!childDiv.hasClass('d-none')) {
                    hasMessage = true;
                    break;
                }
            }
            if(!hasMessage) {
                alert("没有需要清理的消息");
                return;
            }

            var activeUserFtsIdStr = $('#activeUserFtsId').html();
            var activeUserFtsId = parseInt(activeUserFtsIdStr);
            if(!isNaN(activeUserFtsId)) {
                var requestDTO = {
                    'type': 'CLEAR_ALL_MESSAGES', 'data': activeUserFtsId
                };
                webSocket.send(JSON.stringify(requestDTO));
            } else {
                alert("请选择用户");
            }
        }
        function clearActiveMessageList() {
            var container = $('#messageList');
            var children = container.children();
            for(var i=0;i<children.length;i++) {
                var childDiv = $(children[i]);
                if(!childDiv.hasClass('d-none')) {
                    childDiv.remove();
                }
            }
        }
        function retrieveOneMessageMain(message,activeUserFtsId,myUserFtsId) {
            var messageDiv;
            if(message.type === 'text') {
                if (myUserFtsId === activeUserFtsId) {
                    messageDiv = $('#rightMessageTemplate').clone();
                }
                else if (activeUserFtsId === message.fromFtsId) {
                    messageDiv = $('#leftMessageTemplate').clone();
                } else {
                    messageDiv = $('#rightMessageTemplate').clone();
                }
                messageDiv.find("p:first").html(message.text);
            } else if(message.type === 'file') {
                if (myUserFtsId === activeUserFtsId) {
                    messageDiv = $('#rightFileTemplate').clone();
                }
                else if (activeUserFtsId === message.fromFtsId) {
                    messageDiv = $('#leftFileTemplate').clone();
                } else {
                    messageDiv = $('#rightFileTemplate').clone();
                }
                messageDiv.find("h6:first").html(message.text);
                messageDiv.find("a:first").attr("href", message.fileUrl);
            } else {
                alert("未知的消息类型：" + message.type);
                return;
            }
            messageDiv.removeAttr("id");
            messageDiv.removeClass("d-none");
            messageDiv.addClass("d-flex");
            messageDiv.find("span:first").html(message.fromFtsId);
            messageDiv.find("footer:first").html(message.createTime);
            $('#messageList').append(messageDiv);
        }
        function retrieveMessageList(responseDTO) {
            var status = responseDTO.success;
            var myUserFtsIdStr = $('#myUserFtsId').html();
            var myUserFtsId = parseInt(myUserFtsIdStr);
            if(status) {
                var activeUserFtsIdStr = $('#activeUserFtsId').html();
                var activeUserFtsId = parseInt(activeUserFtsIdStr);
                if(!isNaN(activeUserFtsId)) {
                    clearActiveMessageList();
                    var messageList = responseDTO.data;
                    for(var i=0;i<messageList.length;i++) {
                        var message = messageList[i];
                        if(!isNaN(myUserFtsId)) {
                            retrieveOneMessageMain(message, activeUserFtsId, myUserFtsId);
                        }
                    }
                    scrollMessageList();
                } else {
                    alert("获取消息列表失败，请刷新页面");
                }
            } else {
                alert("获取消息列表失败:" + responseDTO.message);
            }
        }
        function addFriendResult(responseDTO) {
            var status = responseDTO.success;
            var myUserFtsIdStr = $('#myUserFtsId').html();
            var myUserFtsId = parseInt(myUserFtsIdStr);
            if(status) {
                var friendListContainer = $('#friendListContainer');
                alert("添加成功");
                if(!isNaN(myUserFtsId) && myUserFtsId !== responseDTO.data.userFtsId) {
                    $('#addFriendModal').modal('hide');
                    $('#addFriendFtsId').val('');
                    var addedFriendDiv = $($('.d-none.bd-toc-link')[0]).clone();
                    addedFriendDiv.removeClass('d-none');
                    addedFriendDiv.find("h5:first strong:first").html(responseDTO.data.nickname);
                    addedFriendDiv.children("span:first").html(responseDTO.data.userFtsId);
                    addedFriendDiv.children("p:first").html(responseDTO.data.helloMessage);
                    friendListContainer.prepend(addedFriendDiv);
                }
            } else {
                alert("添加失败:" + responseDTO.message);
            }
        }
        function message(responseDTO) {
            var message = responseDTO.data;  //text,type,fromFtsId,fromNickname,createTime
            var friendListContainer = $('#friendListContainer');
            var friendList = friendListContainer.children();
            var foundFriend = false;
            var myUserFtsIdStr = $('#myUserFtsId').html();
            var myUserFtsId = parseInt(myUserFtsIdStr);
            for(var i=0;i<friendList.length;i++) {
                var friendDiv = $(friendList[i]);
                var friendFtsIdStr = friendDiv.children("span:first").html();
                if(parseInt(friendFtsIdStr) === message.fromFtsId) {
                    foundFriend = true;
                    friendDiv.children("p:first").html(message.text);
                    var activeUserFtsIdStr = $('#activeUserFtsId').html();
                    var activeUserFtsId = parseInt(activeUserFtsIdStr);
                    if(!isNaN(activeUserFtsId) && !isNaN(myUserFtsId) &&
                        (activeUserFtsId === message.fromFtsId || activeUserFtsId === message.toFtsId)) {
                        retrieveOneMessageMain(message, activeUserFtsId, myUserFtsId);
                        scrollMessageList();
                    }
                    break;
                }
            }
            if(!foundFriend) {
                var addedFriendDiv = $($('.d-none.bd-toc-link')[0]).clone();
                addedFriendDiv.removeClass('d-none');
                addedFriendDiv.find("h5:first strong:first").html(message.fromNickname);
                addedFriendDiv.children("span:first").html(message.fromFtsId);
                addedFriendDiv.children("p:first").html(message.text);
                friendListContainer.prepend(addedFriendDiv);
            }
            //add toast
            var newToast = $('#toast1').clone();
            var container = $('#toastContainer');
            newToast.removeClass("d-none","fade","hide");
            var children = container.children();
            var lastId = children[children.length-1].getAttribute('id');
            var newId = 'toast'+(parseInt(lastId.substring(5))+1);
            newToast.attr('id', newId);
            var childDivs = $('#toastContainer>div');
            for(var i=1;i<childDivs.length;i++) {
                var childDiv = childDivs[i];
                if(childDiv.getAttribute('class').includes('hide')) {
                    childDiv.remove();
                }
            }
            console.log(message.fromNickname);
            newToast.find("strong:first").html(message.fromNickname);
            newToast.find("small:first").html(message.createTime);
            newToast.children(".toast-body").eq(0).html(message.text);
            container.append(newToast);
            newToast.toast({autohide: false});
            newToast.toast('show');
        }
        function initialMessageList(responseDTO) {
            var messageList = responseDTO.data;
            for(var i=0;i<messageList.length;i++) {
                var message = messageList[i]; //text,type,fromFtsId,fromNickname,createTime
                var friendListContainer = $('#friendListContainer');
                var addedFriendDiv = $($('.d-none.bd-toc-link')[0]).clone();
                addedFriendDiv.removeClass('d-none');
                addedFriendDiv.find("h5:first strong:first").html(message.fromNickname);
                addedFriendDiv.children("span:first").html(message.fromFtsId);
                addedFriendDiv.children("p:first").html(message.text);
                friendListContainer.append(addedFriendDiv);
            }
        }
        window.onbeforeunload = function (){
            console.log("主动关闭ws连接")
            webSocket.close();
        };
        function messageBoxBindFile() {
            $('#messageTextArea').addClass("d-none");
            $('#messageFile').removeClass("d-none");
            $('#messageBoxBindFile').removeClass("d-none");
            $('#messageBoxBindText').addClass("d-none");
            var sendButton = $('#sendButton');
            sendButton.unbind('click');
            sendButton.bind('click', function () {
                if (webSocket.readyState !== WebSocket.OPEN) {
                    alert("已断开连接，请刷新页面重试");
                    return;
                }
                var activeUserFtsIdStr = $('#activeUserFtsId').html();
                var activeUserFtsId = parseInt(activeUserFtsIdStr);
                if(isNaN(activeUserFtsId)) {
                    alert("请选择用户");
                }
                var myUserFtsIdStr = $('#myUserFtsId').html();
                var myUserFtsId = parseInt(myUserFtsIdStr);
                if(isNaN(myUserFtsId)) {
                    alert("页面错误，请刷新页面");
                }

                var files = $('#messageFileInput').prop('files');
                var data = new FormData();
                data.append("file", files[0]);
                data.append("token",[[${token}]]);
                var url = [[@{/file/upload}]];

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: data,
                    processData: false,
                    contentType: false,
                    success: function (ret) {
                        if(ret.success) {
                            var downloadUrl = ret.data.downloadUrl;
                            var filename = ret.data.filename;
                            var requestDTO = {
                                'type': 'SEND_MESSAGE_FILE', 'data': {
                                    'toFtsId': activeUserFtsId, 'text': filename, 'fileUrl': downloadUrl
                                }
                            };
                            webSocket.send(JSON.stringify(requestDTO));

                            if(activeUserFtsId !== myUserFtsId) {
                                var messageDiv = $('#rightFileTemplate').clone();
                                messageDiv.find("h6:first").html(filename);
                                messageDiv.removeAttr("id");
                                messageDiv.removeClass("d-none");
                                messageDiv.addClass("d-flex");
                                messageDiv.find("span:first").html(myUserFtsId);
                                messageDiv.find("a:first").attr('href', downloadUrl);
                                const now = new Date();
                                const nowStr = now.toLocaleString('zh-CN', {
                                    year: 'numeric',
                                    month: '2-digit',
                                    day: '2-digit',
                                    hour: '2-digit',
                                    minute: '2-digit',
                                    second: '2-digit'
                                }).replaceAll('/', '-');
                                messageDiv.find("footer:first").html(nowStr);
                                $('#messageList').append(messageDiv);
                            }
                            var friendListContainer = $('#friendListContainer');
                            var friendList = friendListContainer.children();
                            for (var i = 0; i < friendList.length; i++) {
                                var friendDiv = $(friendList[i]);
                                var friendFtsIdStr = friendDiv.children("span:first").html();
                                if (parseInt(friendFtsIdStr) === activeUserFtsId) {
                                    friendDiv.children("p:first").html(filename);
                                    break;
                                }
                            }
                            scrollMessageList();
                        } else {
                            alert("上传失败：" + ret.message);
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            });
        }
        messageBoxBindText();
        function messageBoxBindText() {
            $('#messageTextArea').removeClass("d-none");
            $('#messageFile').addClass("d-none");
            $('#messageBoxBindFile').addClass("d-none");
            $('#messageBoxBindText').removeClass("d-none");
            var sendButton = $('#sendButton');
            sendButton.unbind('click');
            sendButton.bind('click', function () {
                if (webSocket.readyState !== WebSocket.OPEN) {
                    alert("已断开连接，请刷新页面重试");
                    return;
                }
                var messageText = $('#messageTextArea').val();
                if (messageText !== '') {
                    var activeUserFtsIdStr = $('#activeUserFtsId').html();
                    var activeUserFtsId = parseInt(activeUserFtsIdStr);
                    var myUserFtsIdStr = $('#myUserFtsId').html();
                    var myUserFtsId = parseInt(myUserFtsIdStr);
                    if (!isNaN(activeUserFtsId) && !isNaN(myUserFtsId)) {
                        var requestDTO = {
                            'type': 'SEND_MESSAGE_TEXT', 'data': {
                                'toFtsId': activeUserFtsId, 'text': messageText
                            }
                        };
                        webSocket.send(JSON.stringify(requestDTO));
                        $('#messageTextArea').val('');
                        if(activeUserFtsId !== myUserFtsId) {
                            var messageDiv = $('#rightMessageTemplate').clone();
                            messageDiv.find("p:first").html(messageText);
                            messageDiv.removeAttr("id");
                            messageDiv.removeClass("d-none");
                            messageDiv.addClass("d-flex");
                            messageDiv.find("span:first").html(myUserFtsId);
                            const now = new Date();
                            const nowStr = now.toLocaleString('zh-CN', {
                                year: 'numeric',
                                month: '2-digit',
                                day: '2-digit',
                                hour: '2-digit',
                                minute: '2-digit',
                                second: '2-digit'
                            }).replaceAll('/', '-');
                            messageDiv.find("footer:first").html(nowStr);
                            $('#messageList').append(messageDiv);
                        }
                        var friendListContainer = $('#friendListContainer');
                        var friendList = friendListContainer.children();
                        for (var i = 0; i < friendList.length; i++) {
                            var friendDiv = $(friendList[i]);
                            var friendFtsIdStr = friendDiv.children("span:first").html();
                            if (parseInt(friendFtsIdStr) === activeUserFtsId) {
                                friendDiv.children("p:first").html(messageText);
                                break;
                            }
                        }
                        scrollMessageList();
                    } else if (isNaN(activeUserFtsId)) {
                        alert("请选择用户");
                    } else {
                        alert("页面错误，请刷新重试");
                    }
                }
            });
        }
        function scrollMessageList() {
            var messageListDiv = document.getElementById('messageList');
            messageListDiv.scrollTop = messageListDiv.scrollHeight;
        }
        $('#addFriendButton').bind('click', function () {
            if(webSocket.readyState !== WebSocket.OPEN) {
                alert("已断开连接，请刷新页面重试");
                return;
            }
            var friendFtsIdStr = $('#addFriendFtsId').val();
            if(friendFtsIdStr === '') {
                return;
            }
            var friendFtsId = Number.parseInt(friendFtsIdStr);
            if(isNaN(friendFtsId)) {
                alert("非法的Fts号码:" + friendFtsIdStr);
                return;
            }
            var requestDTO = {'type': 'ADD_FRIEND', 'data': friendFtsId};
            webSocket.send(JSON.stringify(requestDTO));
        });
        function selectFriend(srcElement) {
            var srcE = $(srcElement);
            var ftsIdStr = srcE.children("span:first").html();
            var ftsId = parseInt(ftsIdStr);
            var nickname = srcE.children("h5:first").html();
            if(!isNaN(ftsId)) {
                $('#activeUserMessageTitle').html('与'+nickname+'对话中');
                $('#activeUserFtsId').html(ftsIdStr);
                var requestDTO = {'type': 'RETRIEVE_MESSAGE_LIST', 'data': ftsId};
                webSocket.send(JSON.stringify(requestDTO));
            } else {
                alert("错误的Fts号码");
            }
            $('#messageTextArea').html('');
        }
    } else {
        alert('Not support websocket')
    }
</script>
</html>